<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('layout/head'); -%>
</head>
<body>
    <h1 class="visually-hidden">Welcome to Study Buddy</h1>
    <h2>Discover</h2>
    <a class="filter" href="filter">Filter</a>
    <section class="student">
        <h1>Naomi van Dijk</h1>
        <p>Commerciële Economie</p>
        <img src="images/girl.svg">
        <div class="short-info">
            <p>23</p>
            <p>Jaar 3</p>
            <p>Online</p>
        </div>
    </section>

    <section class="student">
        <h1>Thomas Jansen</h1>
        <p>Communicatie</p>
        <img src="images/girl.svg">
        <div class="short-info">
            <p>19</p>
            <p>Jaar 1</p>
            <p>Online</p>
        </div>
    </section>
</body>
</html>