body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color:#2F323D;
}

.visually-hidden{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.filterBtn{
    text-decoration: none;
    color:#FFCC6E;
    margin:1em;
    border: 1px solid #FFCC6E;
    border-radius: 5px;
    padding:.2em;
}

.student{
    position: relative;
    background-color: #505568;
    margin: 1em 1em 1em 1em;
    border-radius: 10px;
}

img{
    position:absolute;
    top:0;
    margin:1em;
    width:40%;
}

.student h1 + p{
    text-align: left;
    color:white;
    margin-left:170px;
    padding: 0 .3em 0 0;
}

.student h1{
    text-align: left;
    color:white;
    margin-left:170px;
    padding:1em .5em .3em 0;
}

.short-info{
    background-color: #79819F;
    display: flex;
    justify-content:space-evenly;
    margin-top:3.2em;
    border-radius: 10px;
}

h2{
    color:#ffffff;
    margin:1.5em 0 1.3em .6em;
}

p{
    color:#ffffff;
}

.filterForm{
    position: absolute;
    background-color: white; 
    bottom:0; 
    top: 0;
    width: 100%; 
    color: black;
    transform: translateY(-100%);
    transition: 1s;
}

.filterForm-show{
    position:fixed;
    transform:translateY(0%);
}

form{
    padding:1em;
    max-width:200px;
}

label{
    display: block;
    color:white;
}
input, textarea{
    display: block;
}

#sendBtn{
    border:none;
    border-radius: 7px;
    background-color: #FFCC6E;
    color:black;
    padding: .5rem;
    margin: 1rem 0;
    cursor:pointer;
}

