<footer>
    <a href="/">
        <span class="explore-icon">
            Explore
        </span>
    </a>
    <a href="/likes">
        <span class="explore-icon">
            Like
        </span>
    </a>
    <a href="/profile">
        <span class="explore-icon">
            Profile
        </span>
    </a>
</footer>