<footer>
    <a href="/">
        <span class="far fa-compass"></span>
    </a>
    <a href="/like">
        <span class="fas fa-heart"></span>
    </a>
    <a href="/profile">
        <span class="fas fa-user"></span>
    </a>
</footer>